/**
** key dont be focus for every pixel but for every device
**/
$media-sm : 540px;
$media-md : 720px;
$media-lg : 992px;
$media-xl : 1140px;
$media-imac: 2240px;
$media-desktop: 1023px;
$media-tab : 750px; //center
$media-mobile : 280px;
$collapse-header: black;
// $collapse-header: white;
$background-portfolio :  linear-gradient(38deg, rgba(2, 86, 155) 62%, rgb(171, 176, 179) 100%);
// $background-portfolio :   white;
$color-font : white;
// $color-font : black;



.card .card-header .col-10 #en {
  color: white;
}

.card .card-header .col-10 #ind {
  color: white;
}


.container-fluid {
  overflow-x: hidden !important; //prefent drag left and right
}

* {
    font-size:0.9rem;
    font-family: 'Lato', sans-serif;
}

.fa-chevron-down {
  margin-top: 0.9rem;
  font-size: 2rem;
}

.transformChevronDown {
  transform: rotate(90deg)
}

@media only screen and (min-width: $media-imac)  {
  .card-header .col-2 {
      padding-left: 10rem;
  }

  .experience .row .col-sm-12 .row {
    margin-top: 1rem;  margin-bottom: 1rem;margin-left: 50%;
  }

  html body .container-fluid .item .card {
    height: 15vh;
  }

  .container-fluid .item .card .card-header .col-10 {
   margin-top: 5rem;
  }

  .container-fluid .item .card .card-header .col-2 i {
    margin-top: 5.1rem;
   }
}


@media only screen and (min-width: $media-desktop)  {
    .card-header .col-2 {
        padding-left: 10rem;
    }

    .experience .row .col-sm-12 .row {
      margin-top: 1rem;  margin-bottom: 1rem;margin-left: 50%;
    }

    // html body .container-fluid .item .card {
    //   height: 17vh;
    // }
  
}

@media only screen and (min-width: $media-tab) and (max-width: $media-desktop) {
 #show-aboutMe .row .col-md-9 p {
    margin-left: 4rem;
 }

 .experience .row .col-sm-12 .row {
  margin-bottom: 1rem;
  margin-left: 50%;
}
}

@media only screen and (min-width: $media-mobile) and (max-width: $media-tab) {
    #show-aboutMe .row .col-md-9 p {
        margin-left: 0rem;
     }

     .experience .row .col-sm-6 ul {
      margin-left: -9%;
    }

    #show-aboutMe img {
      margin-left: 15%;
    }

    .collapse-detail {
      ul {
        list-style-type: none;
        position: relative;
        left: -10px;
      }
    }

}


.item {
    margin-bottom: 1rem;
}

.card {
    background: $collapse-header !important;
    color: $color-font;
}

.collapse-detail {
    background: $background-portfolio;
    color : $color-font;

    .mb-in-collapse-detail {
      width: 100%;
      height: var(--mb);
    }
}

.mb-out-collapse-detail {
  width: 100%;
  height: var(--mb);
}

.collapse-detail * {
    font-size: 1.4rem;
}

.abilities {
    margin: 1rem;
    padding: 1rem;
    background: $background-portfolio;
    margin-left: -2rem;
    font-weight: 600;
}
.progress {
    margin-top: 1rem;
}

.progress-bar {
  font-size: 0.9rem !important;
  text-align: start !important;
  padding-left: 1rem;
}



  .fit-image-ratio {
    margin-right: 200p;
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%; 
  }

  .fit-image-ratio-cert {
    width: 80%;
    height: 83.5%;
    object-fit: cover;
    object-position: 50% 30%; 
  }

  .experience {
    margin: 1rem;
  }

  .experience .row {
    margin-top: 4rem;
  }

  .experience .row .col-sm-6:nth-child(2) .row img {
    margin-left: 15%;
    margin-right: 1rem;
  }

  .experience .row .col-sm-6:nth-child(1) .row img {
    margin-left: 15%;
    margin-right: 1rem;
  }

  .certificate {
    margin: 1rem;
  }
  
  .certificate .row {
    margin-top: 4rem;
  }
  

  // .certificate .row .col-sm-6:nth-child(1) .row   {
  //   margin-left: 5%;
  // }

  // .certificate .row .col-sm-6:nth-child(2) .row   {
  //   margin-left: 5%;
  // }

   .certificate .row .col-sm-6 .row   {
    margin-left:10%;
  }

  // .certificate .row .col-sm-6:nth-child(2) .row .col-sm-6  {
  //   justify-content: center;
  // }
  

  .certificate .row .col-sm-12:nth-child(2) .row img {
    margin-left: 15%;
    margin-right: 1rem;
  }

  .certificate .row .col-sm-12:nth-child(1) .row img {
    margin-left: 15%;
    margin-right: 1rem;
  }

  .contactMe {
    padding: 2rem;
}

p {
  line-height: 2.5rem;
}

li {
  margin-top: 1rem;
}

ul h1 {
  margin-top: 1rem;
}

.collapse-detail {
  li:nth-child(1) {
    list-style-type: none;
  }

  ul {
    list-style-type: disc;
    .prj {
      list-style: none;
    }
    .noneprj {
      list-style: disc;
    }
    right: 7%;
    li {
      text-align: left;
      img {
        position: relative;
        top:-0.1rem;  
        margin-left: -1.7rem;
        padding-right: .15rem;
        content: url("../../assets/check-mark-button-sized.svg");
      }
    }
  }
}
.accordion:hover {
  cursor: pointer;
}

.slide-anime {
  width: 100%;
  height: 450px; 
}

.slide-anime img {
  position: relative;
  max-width: 100%;
  animation: fade-out .2s; 
}

.slide-anime img:nth-child(1) {
  display: block; 
}

.mySlides {
  display: none;
  text-align: center; 
}

#show-abilities {
  .abilities {
    .row {
      margin-bottom: .8rem;
    }
  }
}

#docx {
  align-content: center;
  height: 50px !important;
  background-color: black;
  border: grey solid .3rem;
}

.figma-preview {
  width: 100%;
  max-width: 420px;
  aspect-ratio: 9 / 16;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,.35);
}

.figma-preview iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.btn-download {
  display: inline-block;
  background: #ffffff;        
  color: #02569b;             
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
  transition: all 0.25s ease;
}

.btn-download:hover {
  background: #ffd500;       
  color: #000000;
  transform: translateY(-2px);
}

li > a {
  text-decoration: none !important;
}




